@charset "utf-8";
/* CSS Document */

#podcastButtonline{
	margin-top:-40px!important;
}

.btn{
	padding-left:0px!important;
	padding-right;0px!important;
}

header .navbar-brand{
	min-width:300px!important;
}

