<% if (typeof custom_styles !== "undefined" && custom_styles === true) { %>
	<link rel="stylesheet" type="text/css" href="resources/Styles/<%= id %>.css">
<% } %>
<div id="<%= id %>" class="fill scrollable">
	<div class="question_prompt">
		<% if (typeof question_prompt !== "undefined") { %>
			<%= question_prompt %>
		<% } else { %>
			You must complete all fields before proceeding!
		<% } %>
	</div>
	<p class="question_text" >
		<%= question_text %>
	</p>
	<div class="question_answers" >
		<p>
			<form>
			Answer: <input class="answer_text" type="text" name ="answer">
			</form>
		</p>
	</div>
	<div class="question_prompt">
		<% if (typeof question_prompt !== "undefined") { %>
			<%= question_prompt %>
		<% } else { %>
			You must complete all fields before proceeding!
		<% } %>
	</div>
</div>
<div class="help_text">
	<p>
		Questions may change very little from one to the next.
		Pay very close attention to specific verbiage before moving on!
	</p>
</div>