<% if (typeof custom_styles !== "undefined" && custom_styles === true) { %>
	<link rel="stylesheet" type="text/css" href="resources/Styles/<%= id %>.css">
<% } %>
<div id="<%= id %>" class="fill scrollable">
	<div class="question_prompt">
		<% if (typeof question_prompt !== "undefined") { %>
			<%= question_prompt %>
		<% } else { %>
			You must complete all fields before proceeding!
		<% } %>
	</div>
	<div class="enhanced_text_intro" >
		<!-- Customized HTML gets added here -->
	</div>
	<div class="enhanced_text_form" >
		<% if( typeof custom_formatting === "undefined" || !custom_formatting ) { %>
			
				<% $.each( fields, function(index, field) {%>
					<form id='enhanced_text-<%= id %>-<%= index %>' name='enhanced_text-<%= index %>'>
						<%= field.question %> <br>
							<% if( field.type === "radio") { %>
							
									<% $.each( field.values, function(sub_index) { %>
										<input
											id='enhanced_text-<%= id %>-<%= index %>-<%= sub_index%>'
											class='text-radio'
											type='radio'
											value='<%= field.values[sub_index]%>'	
											name='radio-<%= index %>'
										/><%= field.values[sub_index]%><br>
									<% }); %>	
								
							<% } %>
							<% if( field.type === "checkbox") { %>
								<% $.each( field.values, function(sub_index) { %>
									<input
										id='enhanced_text-<%= id %>-<%= index %>-<%= sub_index%>'
										class='text-checkbox'
										type='checkbox'
										value='<%= field.values[sub_index]%>'
										
									/><%= field.values[sub_index]%><br>
								<% }); %>	
							<% } %>	
							<% if( field.type === "textarea") { %>
								<textarea
									id='enhanced_text-<%= id %>-<%= index %>-text'
									class='enhanced_text'
									type='textarea'
									value=''
									name='enhanced_text-<%= field.name %>'			
									cols='<%= field.values[1] %>'
									rows='<%= field.values[0]%>'
									style='width: auto'
									<% if( index === 0 ) { %> autofocus <% } %>
								/>
							<% } %>							
					</form>
					<% if( field.type === "display") { %>
						<%= field.label %>
						<div id='<%= field.name %>'></div>
					<% } %>
					<br>
				<% }); %>
			
		<% } %>
	</div>
	<div class="question_prompt">
		<% if (typeof question_prompt !== "undefined") { %>
			<%= question_prompt %>
		<% } else { %>
			You must complete all fields before proceeding!
		<% } %>
	</div>
</div>